.my_browser_bkg {
    background: rgb(0, 150, 136);
    background: -moz-linear-gradient(180deg, rgba(0, 150, 136, 1) 16%, rgba(214, 219, 216, 1) 16%);
    background: -webkit-linear-gradient(180deg, rgba(0, 150, 136, 1) 16%, rgba(214, 219, 216, 1) 16%);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 16%, rgba(214, 219, 216, 1) 16%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688", endColorstr="#d6dbd8", GradientType=1);
    min-width: 900px;
    height: 100vh;
    width: 100%;
}

.my_app {
    height: 90%;
    width: 80%;
}

.my_statusbar {
    background-color: rgb(234, 234, 234);
    height: 3rem;
}

.my_functionkey {
    color: rgb(177, 177, 177)
}

.my_notification {
    background-color: rgb(142, 218, 252);
    height: 3rem;
    font-size: small;
}

.my_notification_icon {
    width: 2rem;
    height: 2rem;
    color: rgb(142, 218, 252);
    background-color: white;
}

.my_search {
    background-color: rgb(250, 250, 250);
    height: 2.5rem;
}

.my_search_inner {
    border: rgb(247, 247, 247) solid 1px;
    background-color: rgb(255, 255, 255);
}

.my_search_icon {
    color: rgb(183, 183, 183);
    cursor: pointer;
}

.my_search_input,
.my_message_input {
    font-size: small;
}

.my_contacts {
    height: calc(100% - 8.5rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.my_contact {
    border-top: rgba(128, 128, 128, 0.2) solid 1px;
    height: 4rem;
    cursor: pointer;
}

.my_target {
    background-color: rgb(233, 235, 235);
}

.my_contact_avatar {
    width: 3rem;
}

.my_contact_last_message,
.my_last_message_time,
.my_last_access_time {
    color: grey;
    font-size: small;
}

.my_contact_last_message {
    height: 1.5rem;
    overflow: hidden;
}

.my_text_body {
    height: calc(100% - 6rem);
    background-image: url("../img/mine.jpg");
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.my_left_col {
    background-color: white;
    min-width: 300px;
}

.my_message_box,
.my_contact_message_box {
    width: 20rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    overflow-wrap: break-word;
    color:black;
}
.my_sentTime{
    position:absolute;
    right:0.3rem;
    bottom:0;
    font-size: 0.8rem;
    color:grey;
}
.my_message_box {
    background-color: rgb(220, 248, 192);
}
.my_dropdownItem{
    text-align: center;
    padding:0;
    cursor: pointer;
}

.my_contact_message_box {
    background-color: white;
}

.my_text_message {
    background-color: rgb(242, 238, 234);
    height: 3rem;
}

.my_text_icon {
    color: rgb(108, 115, 118);
    cursor: pointer;
}